/* Sidebar style */
.css-1vq4p4l.e1fqkh3o4 {
  display: block;
  padding-top: 10%;
}

/* Horizonal line break style */
hr {
  margin-top: 0%;
}

/* Sliders' columns style
.css-ocqkz7.e1tzin5v4 {
  margin: -25px;
} */

/* Footer style */
.css-2ykyy6.egzxvld0 {
  display: none;
}

/* Main window style */
.block-container.css-18e3th9.egzxvld2 {
  padding-top: 3%;
  padding-bottom: 0%;
}

img {
  margin-left: 50%;
}
